/.cproject
.idea/
.project
*.o
*.lo
*~
*.so
*.loT
*.pid
modules/*
zan-extension/Makefile.global
zan-extension/acinclude.m4
zan-extension/aclocal.m4
zan-extension/autom4te.cache/
zan-extension/build/
zan-extension/config.guess
zan-extension/config.h.in
zan-extension/config.sub
zan-extension/configure
zan-extension/configure.in
zan-extension/install-sh
zan-extension/ltmain.sh
zan-extension/missing
zan-extension/mkinstalldirs
zan-extension/run-tests.php
zan-extension/.deps
zan-extension/.libs/
zan-extension/Makefile
zan-extension/Makefile.fragments
zan-extension/Makefile.objects
zan-extension/config.h
zan-extension/config.log
zan-extension/config.nice
zan-extension/config.status
zan-extension/libtool
zan-extension/modules/
zan-extension/zan.la
tags
settings.json
*.udb
bak
